    :root{--cor-de-fundo:#9949B4;
        --fonte-principal: "sedgwick ave display";
        --fonte-secundaria: "roboto";
    --cor-cabecalho:#FFFFFF;}
body{
    background-color: var(--cor-de-fundo);
    margin:0;
}
h1{
    font-weight: normal;
}